@import "./brand/all"

.container
  max-width 960px
  margin 0 auto
  padding 16px 16px 0 16px

  @media all and (max-width: 480px)
    text-align center

a
  color $red
  text-decoration none

.thin
  font-weight 300

section
  margin-top 48px

#holdings li
  margin-bottom 72px

  > *
    display inline-block
    vertical-align middle

  a
    width 33%

  img
    max-height 64px

  .p-wrap
    width 66%

    p
      color $gray
      font-size 15px
      padding-left 32px

  @media all and (max-width: 480px)
    a
      width 100%
      text-align center
      margin-bottom 16px

    .p-wrap
      width 100%

      p
        padding 0

.colorbar
  background transparent url(/img/colorbar.png) repeat-x
  width 100%
  height 2px

  &.top, &.bottom
    position absolute
    left 0

  &.top
    top 0
  &.bottom
    bottom 0

footer
  padding 32px 0 16px 0
  text-align center
  color $gray

  p
    font-size 12px

.partners li
  display inline-block
  vertical-align middle
  width 50%

  a
    display inline-block
    text-align center
    padding 0 32px
    max-width 100%

  @media all and (max-width: 768px)
    width 100%
    margin 8px 0 16px 0

    &:last-child
      margin-bottom 0

.oekostrom
  text-align center

  a
    display inline-block
    vertical-align top
    line-height 22px
