!!!
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title Spectrum Holding

    meta(name="description", content="Assets towards an advanced and sustainable future.")
    meta(name="author", content="Spectrum IT")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    meta(property="og:title", content="Spectrum Holding")
    meta(property="og:type", content="website")
    //- meta(property="og:image", content="")
    meta(property="og:url", content="http://spectrum.holdings")
    meta(property="og:description", content="")

    link(rel="icon" href="/img/favicon.png" type="image/png")

    link(rel="stylesheet", href="/css/vendor/reset.css")
    link(rel="stylesheet", href="/css/vendor/skeleton.css")
    link(rel="stylesheet", href="/css/style.css")

    | <!--[if lt IE 9]>
    |   <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    | <![endif]-->

  body
    .colorbar.top

    .container
      header
        a(href="/")
          img.tcenter(src="/img/sh.png" width="700")
        h5.tcenter.navy.thin Assets towards an advanced and sustainable future

      section
        != yield

      footer
        p
          | Copyright &copy; 2013-2015 Spectrum Holding GmbH - 
          a(href="/imprint.html")  Imprint

    script(src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.2/zepto.min.js")
    script(src="//use.typekit.net/uaw4sez.js")
    script.
      try{Typekit.load();}catch(e){}

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-37947508-13', 'auto');
      ga('send', 'pageview');
