section
  h4 Imprint

  p Spectrum Holding GmbH
  p
    a(href="mailto:office@spectrum.holdings") office@spectrum.holdings
  p
    a(href="http://www.spectrum.holdings") www.spectrum.holdings
  br
  p Firmensitz: Wien
  p Firmenbuchnummer: FN 413840 p
  p Firmenbuchgericht: Handelsgericht Wien
  //- h3 Firmenbuchnummer: xxxxxx y
  br
  p Geschäftsanschrift: Schwindgasse 10 / Top 13, A-1040 Wien
  br
  p Unternehmensgegenstand: Holding / Beteiligungsgesellschaft
  br
  p Geschäftsführer: Mag.(FH) Thomas Tiroch

section
  h4 Partners
  ul.partners
    li
      a(href="http://www.candre.eu/content/steuerberater_wien_22_bezirk/index_ger.html" target="_blank")
        img(src="/img/candre.png")
    li
      a(href="http://www.synto.at/" target="_blank")
        img(src="/img/synto.png")

section.oekostrom
  span Our servers &amp; computers run on green energy by 
    a(href="http://www.oekostrom.at" target="_blank")
      img(src="/img/oekostrom-ag.jpg" width="128")
