h4 Portfolio
p
  | Spectrum Holding manages shares in companies across a wide range of industries, forming a diversified investment entity focusing on (internet) technology, online marketing and renewables.
  a(href="http://synto.at/" target="_blank")  Synto 
  |  is a close partner on energy &amp; sustainability consulting.

br
br
br

ul#holdings
  li
    a(href="http://www.adefy.com" target="_blank")
      img(src="/img/adefy_logo_standard.png")
    .p-wrap
      p Adefy is a performance marketing and brand management agency that builds entire acquisition funnels from scratch and creates custom campaigns for products and services.

  li
    a(href="http://www.clansweb.com" target="_blank")
      img(src="/img/clansweb.svg" height="44")
    .p-wrap
      p Clansweb is a social network targeting gamers and their unique needs. It spreads beyond other social networks, picking up where they leave off with a focus on anonymity. Here clans can meet, communicate and build a social following.
  li
    a(href="http://oekostrom.at/" target="_blank")
      img(src="/img/oekostrom-ag.jpg")
    .p-wrap
      p Oekostrom is Austria's leading provider of 100% renewable electricity. The company produces and trades exclusively green energy with a mix of approximately 75% hydro power, 18% wind energy, 3% solar energy and 4% from various sources.
  li
    a(href="http://www.flatout-technologies.com" target="_blank")
      img(src="/img/flatout-logo-horizontal.png")
    .p-wrap
      p Flatout Technologies develops embedded software for running "smart home" devices along with a platform for ordinary consumers to manage their devices, and developers to build applications leveraging them.
  li
    a(href="http://www.spectrumit.eu" target="_blank")
      img(src="/img/sit.png")
    .p-wrap
      p SIT is our primary IT services, research &amp; development branch. Providing support and mentoring to our portfolio companies, Spectrum IT also works with clients to develop custom software solutions.
  li
    a(href="http://spectrum.holdings/" target="_blank")
      img(src="/img/ineo-capital.png")
    .p-wrap
      p INEO is our early stage risk capital arm that invests in promising technology startups and advises young companies on legal, tax and management issues.
